.container {
  position: fixed;
  // height: calc(100vh + 1px);
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

@media (max-width: 530px) {
  .container {
    // height: calc(100vh + 1px);
    height: 100%;
    width: 100vw;
    & .video {
      width: 100%;
      height: 100%;
    }
  }
}
