@import "styles/palette.scss";

.cardRight {
  position: relative;
  z-index: 1;
  height: 240px;

  & .cardTitle {
    position: absolute;
    width: 120px;
    left: 160px;
    top: 24px;
    font-size: 16px;
    color: $font-color;
  }
  & .backgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  & .arrow {
    position: absolute;
    left: 137px;
    top: 25px;
  }
  & .picture {
    position: absolute;
    width: 160px;
    height: 160px;
    bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
    & .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & .dottedLine {
    position: absolute;
    top: 164px;
    right: 60px;
  }
}

.cardLeft {
  position: relative;
  z-index: 1;
  height: 240px;

  & .cardTitle {
    position: absolute;
    width: 120px;
    left: 20px;
    top: 24px;
    font-size: 16px;
    color: $font-color;
  }
  & .backgroundImg {
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  & .arrow {
    position: absolute;
    left: 137px;
    top: 25px;
    transform: rotateY(180deg);
  }
  & .picture {
    position: absolute;
    width: 160px;
    height: 160px;
    bottom: 10px;
    right: 0;
    border-radius: 4px;
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & .dottedLine {
    position: absolute;
    top: 164px;
    left: 60px;
    transform: rotateY(180deg);
  }
}

@media (min-width: 540px) {
  .cardRight {
    height: 400px;
    & .cardTitle {
      font-size: 20px;
      left: 280px;
      top: 28px;
      width: 180px;
    }

    & .arrow {
      left: 248px;
      top: 30px;
      height: 35px;
      width: 21px;
      object-fit: cover;
    }
    & .picture {
      width: 280px;
      height: 280px;
      & img {
        width: 100%;
        height: 100%;
      }
    }
    & .dottedLine {
      top: 260px;
      // transform: scale(1.5);
      width: 73px;
      right: 100px;
    }
  }
  .cardLeft {
    height: 400px;
    & .cardTitle {
      font-size: 20px;
      left: 40px;
      top: 28px;
      width: 180px;
    }

    & .arrow {
      left: 248px;
      top: 30px;
      height: 35px;
      width: 21px;
      object-fit: cover;
    }
    & .picture {
      width: 280px;
      height: 280px;
      & img {
        width: 100%;
        height: 100%;
      }
    }
    & .dottedLine {
      top: 260px;

      width: 73px;
      left: 100px;
    }
  }
}
