.languagePlayer {
  height: 64px;
  display: flex;
  align-items: center;

  width: 100vw;
  border-top: 1px solid #2e8ab7;
  position: relative;
  background-color: #fff;
  & .playButton {
    margin-right: 18px;
    margin-left: 26px;
    display: flex;
    justify-content: center;
    width: 32px;
    & img {
      vertical-align: middle;
    }
  }
  & .volume {
    margin-left: 10px;
  }
  & .progress {
    width: 58%;
  }
  & .close {
    margin-left: 26px;
  }
}

@media (min-width: 540px) {
  .languagePlayer {
    & .playButton {
      margin-left: 40px;
      margin-right: 29px;
    }
    & .progress {
      width: 70%;
    }
    & .volume {
      margin-left: 34px;
    }
    & .close {
      margin: 0 auto;
    }
  }
}
