.info {
  width: 20vw;
  height: 100%;
  text-align: center;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  & .icon {
    margin-top: 10px;
    width: 20px;
    vertical-align: middle;
    transform: scale(1.2);
    pointer-events: none;
  }

  & .title {
    font-size: 13px;
    height: 18px;
    position: absolute;
    bottom: 12px;
    right: 0;
    left: 0;
    pointer-events: none;
  }
}
@media (max-width: 330px) {
  .info {
    & .title {
      font-size: 12px;
    }
  }
}
