.title {
  text-align: center;
  margin-top: 20px;
  height: 40px;

  & h3 {
    width: fit-content;
    max-width: 90vw;
    font-size: 20px;
    padding: 6px 20px;
    border-radius: 40px;
    background-color: rgba($color: #ffffff, $alpha: 0.6);
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
