.imageExamplePage {
  background-color: rgba($color: #ffffff, $alpha: 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  animation: scaleUp 0.5s;
  & .close {
    margin: 16px;
    width: 32px;
    margin-left: auto;
    margin-right: 16px;
  }
  & .leftArrow {
    margin: 16px 0 0 16px;
  }
  & .container {
    margin: 4px 18px 0px 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    & .title {
      width: 250px;
      // height: 50px;
      text-align: center;
    }
    & .arrow {
      margin: 10px 0;
    }
    & .imgContainer {
      height: 50vh;
      position: relative;
      width: 100%;

      & .img {
        object-fit: contain;
        vertical-align: middle;
        width: 100%;
        height: 100%;
      }
      & .phoneContainer {
        // transform-style: preserve-3d;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        animation: spin 3s linear infinite;
        & .phone {
          transform: perspective(200px) rotateX(0deg);
          width: 52px;
          height: 92px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    & .btn {
      border-radius: 36px;
      background-color: #2e8ab7;
      border: none;
      padding: 8px 50px;
      color: #fff;
      font-weight: 500;
      font-size: 20px;
      margin: 3% 0;
    }
  }
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(-60deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  75% {
    transform: rotateY(60deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
// @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");

@media (min-width: 540px) {
  .imageExamplePage {
    & .container {
      margin: 120px 0;
    }
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}
