.imageExamplePage {
  background-color: rgba($color: #ffffff, $alpha: 0.9);
  height: 100vh;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  & .close {
    margin: 16px;
    width: 32px;
    margin-left: auto;
    margin-right: 16px;
  }
  & .leftArrow {
    margin: 16px 0 0 16px;
  }
  & .container {
    margin: 4px 18px 70px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .title {
      width: 240px;
      // height: 50px;
      text-align: center;
    }
    & .arrow {
      margin: 13.75px 0;
    }
    & .imgContainer {
      height: 55vh;
      position: relative;
      width: 100%;
      & .img {
        object-fit: contain;
        vertical-align: middle;
        width: 100%;
        height: 100%;
      }
      & .phone {
        width: 52px;
        height: 92px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        margin: auto;
        animation: transform 10s infinite cubic-bezier(0.5, 2, 0.5, 1);
      }
    }
    & .btn {
      border-radius: 36px;
      background-color: #2e8ab7;
      border: none;
      padding: 8px 50px;
      color: #fff;
      font-weight: 500;
      font-size: 20px;
      margin-top: 20px;
    }
  }
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");

@keyframes transform {
  0% {
    transform: rotate3d(0, 0, 0, 0deg) translate(0px, 0px);
  }
  10% {
    transform: rotate3d(5, 5, 5, 10deg) translate(50px, 0px);
  }
  20% {
    transform: rotate3d(60, -40, 30, 30deg) translate(-50px, 0px);
  }
  30% {
    transform: rotate3d(5, 78, -50, 30deg) translate(0px, 50px);
  }
  40% {
    transform: rotate3d(45, 29, 5, 60deg) translate(80px, -1px);
  }
  50% {
    transform: rotate3d(450, 2, 51, 0deg) translate(50px, 0px);
  }
  60% {
    transform: rotate3d(4, 9, 5, 20deg);
  }
  70% {
    transform: rotate3d(45, 29, 5, -20deg) translate(40px, 40px);
  }
  80% {
    transform: rotate3d(1, 9, 5, 0deg);
  }
  90% {
    transform: rotate3d(05, 7, 5, -13deg) translate(50px, 0px);
  }
  100% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@media (min-width: 540px) {
  .imageExamplePage {
    & .container {
      margin: 120px 0;
    }
  }
}
