.intro {
  width: 20vw;
  height: 100%;
  text-align: center;
  position: relative;
  // & .icon {
  //   width: 48px;
  //   transform: translateY(-35%) scale(1.2);
  //   vertical-align: middle;
  //   pointer-events: none;
  // }
  & .iconContainer {
    transform: translateY(-35%);
    margin: auto;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(46, 138, 183, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    & .icon {
      width: 30px;
      height: 30px;
      pointer-events: none;
    }
  }
  & .title {
    position: absolute;
    bottom: 12px;
    right: 0;
    left: 0;
    font-size: 13px;
    height: 18px;
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
  }
}
@media (max-width: 330px) {
  .intro {
    & .title {
      font-size: 12px;
    }
  }
}
@media (min-width: 540px) {
  .intro {
    // & .icon {
    //   width: 68px;
    //   height: 68px;
    //   margin-top: 5px;
    // }
    & .iconContainer {
      transform: translateY(-35%);
      margin: auto;
      width: 68px;
      height: 68px;
      border-radius: 50%;
      background-color: rgba(46, 138, 183, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      & .icon {
        width: 40px;
        height: 40px;
      }
    }
    & .title {
      margin: 5px;
      bottom: 25px;
      font-size: 16px;
    }
  }
}
