.instructionPage {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #ffff, $alpha: 0.9);
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;

  & .title {
    font-weight: 800;
    margin: 21px;
    color: #2c413d;
    font-size: 20px;
  }
  & .close {
    position: absolute;
    right: 25.8px;
    width: 28px;
    height: 28px;
    top: 21px;
    &:hover {
      cursor: pointer;
    }
  }

  & .container {
    // margin: 0 auto;
    text-align: start;
    & .section {
      display: flex;
      align-items: center;
      margin: 28px;
      & .icon {
        width: 48px;
        height: 48px;
        vertical-align: middle;
      }
      & .textArea {
        margin-left: 12px;
        font-size: 16px;
        & .introduce {
          margin-top: 4px;
          width: 100%;
        }
      }
    }
    & > :first-child {
      & .icon {
        transform: scale(1.3);
      }
    }
  }
}

@media (min-width: 540px) {
  .instructionPage {
    & .title {
      margin-top: 240px;
      font-size: 28px;
    }
    & .close {
      top: 46px;
      right: 46px;
    }
    & .container {
      & .section {
        margin: 40px;
        & .icon {
        }
        & .textArea {
          margin-left: 12px;
          width: 320px;
          & .instructionTitle {
            font-size: 20px;
          }
          & .introduce {
            font-size: 16px;
            margin-top: 8px;
            width: 100%;
          }
        }
      }
    }
  }
}
