@import "styles/palette.scss";
.ios {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  & p {
    color: $font-color;
  }
}
