.view {
  width: fit-content;
  // margin-right: auto;
  margin-bottom: 16px;
  & .imgContainer {
    width: 130px;
    height: 130px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 1px 5px rgb(152, 152, 152);
    & .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .title {
    margin-top: 10px;
    font-weight: 700;
    text-align: center;
    width: 120px;
    word-wrap: break-word;
  }
}

@media (min-width: 540px) {
  .view {
    & .imgContainer {
      width: 220px;
      height: 220px;
    }
    & .title {
      margin-top: 20px;
      margin-bottom: 32px;
      width: 220px;
      font-size: 18px;
    }
  }
}

@media (max-width: 340px) {
  .view {
    & .imgContainer {
      width: 100px;
      height: 100px;
    }
    & .title {
      margin-top: 20px;
      margin-bottom: 32px;
      width: 100px;
      font-size: 18px;
    }
  }
}
