@import "styles/palette.scss";
.view {
  width: fit-content;
  margin-bottom: 16px;
  width: calc(50% - 20px);
  & .imgContainer {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 1px 5px rgb(152, 152, 152);
    & .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  & .title {
    margin-top: 10px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    color: $font-color;
    word-wrap: break-word;
  }
}

@media (min-width: 540px) {
  .view {
    width: calc(50% - 40px);

    & .title {
      margin-top: 20px;
      margin-bottom: 32px;
      width: 100%;
      font-size: 18px;
    }
  }
}

// @media (max-width: 340px) {
//   .view {
//     & .imgContainer {
//       width: 100px;
//       height: 100px;
//     }
//     & .title {
//       margin-top: 20px;
//       margin-bottom: 32px;
//       width: 100px;
//       font-size: 18px;
//     }
//   }
// }
// @media (max-width: 280px) {
//   .view {
//     & .imgContainer {
//       width: 80px;
//       height: 80px;
//     }
//     & .title {
//       margin-top: 20px;
//       margin-bottom: 32px;
//       width: 80px;
//       font-size: 18px;
//     }
//   }
// }
