.arPage {
  position: relative;
  z-index: 2;
  background-color: transparent;
  & .interface {
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
  }
}
