.arPage {
  height: calc(100vh + 1px);
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
}

.cmaIsOpen {
  height: 100vh;
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 30;
}
