.viewGuidePage {
  background-color: rgba($color: #fff, $alpha: 0.9);
  position: absolute;
  top: 5vh;
  bottom: 15vh;
  margin: 0 18px;
  height: 75vh;
  border-radius: 15px;
  & .container {
    padding: 0 10px 10px 0;
    margin: 18px 16px 16px 25px;
    width: 90%;
    height: 100%;
    .viewpointContainer {
      height: calc(100% - 95px);
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      &::-webkit-scrollbar {
        width: 5px;
        -webkit-appearance: none;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        height: 200px;
        background-color: #2e8ab7;
        border-radius: 100px;
        opacity: 60%;
        // outline: 1px solid slategrey;
      }
    }

    & .title {
      margin-bottom: 20px;
      color: #2c413d;
      font-size: 24px;
    }
    & .borderBottom {
      width: 40px;
      height: 2px;
      margin: auto;
      background-color: #2e8ab7;
      margin-bottom: 20px;
    }
  }
  & .close {
    position: absolute;
    top: 20px;
    right: 30px;
    img {
      svg {
        fill: #2c413d;
        path {
          fill: #2c413d;
          background-color: #2c413d;
        }
      }
    }
  }
}

@media (min-width: 540px) {
  .viewGuidePage {
    margin: 0 10vw;
    top: 80px;
    & .container {
      margin: 31px 12px 0px 60px;
      & .viewpointContainer {
        height: calc(68vh - 200px);
      }
      width: fit-content;
      & .title {
        font-size: 28px;
      }
    }
  }
}
