.volume {
  position: relative;
  & .img {
    vertical-align: middle;
  }
  & .volumeBarContainer {
    height: 200px;
    width: 40px;
    position: absolute;
    bottom: 150%;
    background-color: rgb(54, 78, 99);
    border-radius: 10px;
    transform: translate(-20%);
  }
  & .volumeBar {
    height: 160px;
    width: 5px;
    margin: 20px auto;
    position: relative;

    & .barKnob {
      width: 18px;
      height: 18px;
      background-color: aqua;
      bottom: 0;
      left: -6px;
      border-radius: 50%;
      position: absolute;
    }
  }
}
