.cameraAuth {
  height: 100vh;
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  & p {
    margin-top: 32px;
    width: 288px;
  }
}
