.nav {
  position: fixed;
  bottom: 0;

  & .navItem {
    background-color: #fff;
    height: 62px;
    width: 100%;

    border-radius: 15px 15px 0 0;
    display: flex;
  }
  & .languagePlayer {
    width: 100%;
    & audio {
      width: 100%;
      background-color: transparent;
    }
  }
}
