.nav {
  position: fixed;
  bottom: -64px;
  transition: 0.3s;
  & .navItem {
    background-color: #fff;
    height: 62px;
    width: 100%;

    border-radius: 15px 15px 0 0;
    display: flex;
  }
  & .languagePlayer {
    width: 100%;
    & audio {
      width: 100%;
      background-color: transparent;
    }
  }
}

.showAudio {
  bottom: 0;
}

@media (min-width: 540px) {
  .nav {
    bottom: -100px;
    & .navItem {
      height: 100px;
    }
  }
  .showAudio {
    bottom: 0;
  }
}
